<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
    <!--back button-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <div class="">
      <ion-item>
        <ion-input type="text" placeholder="Your name" [(ngModel)]="your_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color:rgb(156, 155, 155);">Gender</ion-label>
        <ion-select interface="popover" [(ngModel)]="gender">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item style="color:rgb(156, 155, 155);" >
        <ion-label>Date of Birthday</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="date_birth" min="1940-03-14" max="2018-12-09" ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Email" [(ngModel)]="email_address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirm_pass"></ion-input>
      </ion-item>
      <ion-button expand="full"class="ion-no-padding" color="success" [disabled]="disabledButton" (click)="tryRegister()">Register</ion-button>
    </div>

  </ion-list>

</ion-content>
