<ion-content>
  <ion-slides pager="true">

    <ion-slide class="slide-one">
      <ion-img src="/assets/images/home1.png"></ion-img>
      <h1>Welcome home</h1>
      <p class="labelintro">
        SECOND IONIC 5 APPLICATION <br>
        <span>Hopefully can help your difficulties</span>
      </p>
    </ion-slide>

    <ion-slide class="slide-one">
      <ion-img src="/assets/images/magicHat.png"></ion-img>
      <h1>MAGIC APPLICATION</h1>
      <p class="labelintro">
        DESCOVER OUR APPLICATION <br>
        <span>Every app is excellent in its own way <br>so we glob all</span>
      </p>
    </ion-slide>

    <ion-slide class="slide-two">
      <ion-img src="/assets/images/writing.png"></ion-img>
      <p class="labelintro">
        BE PART OF US !<br>
        <span>Register Now we are waiting for you</span>
      </p>
      <ion-button color="primary" (click)="openLogin()">Let's Login ...</ion-button>
    </ion-slide>

    

  </ion-slides>
</ion-content>
